<template name="MyComponent" foo bar="">
  <div v-if="x.y.z"/>
  <div v-if="x == 4"/>
  <div v-if="x in y"/>
  <div v-if="x in y"/>
  <div v-for="(a, b) in y"/>
  {{ x + 4 }}
  {{ x + 4 * 5 }}
  {{ snap() }}
  {{ not x }}
  {{ y not in x }}
  {{ snap(1, crackle, 'crack') }}
  {{ (1 + 2) / 2 }}
  {{ thing|func }}
  {{ whatever[1] }}
</template>


<template name="UsingMyComponent">
  <MyComponet foo:="hello" bar:="'xxx'"/>

  <div for:="x in whatever">
    {{ x }}
  </div>
  <span if:="thing == 1" class:="whatever">
    thing is 1
  </span>

  <article class="ant {{ article.classname }}"/>

  <div with:="foobar = whatever()">
    {{ foobar }}
  </div>
</template>
